#context-menu.context-menu
  .context-menu-header
    h4.text-uppercase.tight Governors Ball 2016 – Young Women Apparel

  .context-menu-content
    ul.ul-bare
      li.btn-related-reports
        i.icon.icon-related-reports
        span Related reports
      li 
        i.icon.icon-info-circle
        span Information
      li 
        i.icon.icon-save
        span Save to folder
      li 
        i.icon.icon-file-pdf
        span View PDF
      li 
        i.icon.icon-print
        span Print
      li 
        i.icon.icon-lang-en
        span Language