#context-menu.context-menu
  .context-menu-header
    h4.text-uppercase.tight Women's Colour S/S 18: Youth Tonic

  .context-menu-content
    ul.ul-bare
      li Linked reports
      li Information
      li Save to folder
      li View PDF
      li Print
      li Language