#page-list.context-menu
  .context-menu-header
    h4.text-uppercase.tight Page List

  .context-menu-content
    ul.ul-bare
      li 1. Cover
      li 2. Introduction
      li 3. Colour
      li 4. Youth Tonic
      li 5. Youth Tonic
      li 6. Youth Tonic
      li 7. Youth Tonic
      li 8. Global Colour S/S 18: In Motion
      li 9. Colour Card &mdash; TCX
      li 10. Colour Card &mdash; Coated
      li 11. Colour Card &mdash; CNCS
      li 12. Colour Card &mdash; CSI
      li 13. Future Trends Critical Path
      li 14. Seasonal Drops