#page-list.context-menu
  .context-menu-header
    h4.text-uppercase.tight Page List

  .context-menu-content
    ul.ul-bare
      li 1. Cover
      li 2. Boho Mood
      li 3. Edgy Western
      li 4. Woodstock Hippy
      li 5. Mesh Exposure
      li 6. Twinsets
      li 7. Vintage Music Tees
      li 8. Bomber Jackets