#related-reports.context-menu
  .context-menu-header
    h4.text-uppercase.tight Related Reports

  .context-menu-content
    ul.ul-bare
      li Slow Futures
      li Kinship
      li Psychotropical
      li Youth Tonic