#related-reports.context-menu
  .context-menu-header
    h4.text-uppercase.tight Related Reports

  .context-menu-content
    ul.ul-bare
      li WGSN Whereabouts
      li.active
        small Young Women
        span Apparel
      li 
        small Young Women &amp; Young Men
        span Denim
      li 
        small Young Men
        span Apparel
      li 
        small Young Women
        span Footwear &amp; Accessories