h1 Woodstock Hippy
h3 Theme
p This festival's upstate New York neighbour is sending style inspiration via looks straight out of late 1960s, early 1970s hippy Woodstock. Fringe, flower power, bell- ottoms, and boho blouses are all key items. Styling encompasses hairstyle to silhouette, focusing on fully literal rather than merely referential influence, with perhaps the only contemporary giveaway a pair of Stan Smith adidas or a smartphone in hand.
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/59/24/29/42/original_gov40616_2016_06_04_WGSN_WOMEN_GOVBALL_163.jpg")
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/18/24/29/42/original_gov40616_2016_06_04_WGSN_WOMEN_GOVBALL_150.jpg")
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/32/34/29/42/original_gov40616_2016_06_04_WGSN_WOMEN_GOVBALL_31.jpg")
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/56/62/29/42/original_gov20616_2016_06_03_WGSN_WOMEN_GOVBALL_23.jpg")