h1 Introduction
p.highlight Youth Tonic is all about injecting womenswear with a dose of spontaneity and imagination, and embraces the exuberance and energy of youth. Colours are eclectic, and offers plenty of opportunity to mix, match, and mismatch.
p Our approach to age is becoming more fluid (30 is the new 20, and 40 is the new 30), and this is resulting in a more youthful focus across fashion. Colours in the Youth Tonic palette offer plenty of scope for odd combinations, but also allow more harmonious tonal pairings. These tones are all about versatility, and are ideal for a more layered approach to dressing in the Summer Transitional drop, as the season comes to a close.
h3 Seasonal Statements
p 
  strong K-Pop influences colour: 
  | South Korean youth culture heavily influences colour, particularly with the feminine tone of Electric Lilac, which can be paired with more muted urban tones for a look that feels fresh and offbeat
p 
  strong Sunset hues feel nostalgic: 
  | red-cast tones have a slightly nostalgic feel this season, with warm reds, pink and orange merging to form hazy sunset palettes
p 
  strong Urban tones have a genderless appeal: 
  | clean and fresh pastels draw inspiration from the streets, mixing blues and greys with Orange Alert and Fizzy Green
p 
  strong Fizzy pastels replace neons: 
  | pastels such as Artificial Yellow and Fizzy Green have an almost luminous charge, and offer a more sophisticated alternative to the obvious brightness of neons
img(src="https://www.wgsn.com/storage/vol20/ss_image_store/80/36/29/42/original_ASTA_TV_mag_Korea20.jpg")
p.caption ASTA TV Korea