#page-list.context-menu
  .context-menu-header
    h3.text-uppercase.tight Page List

  .context-menu-content
    ul.ul-bare
      li.active: a(href="/the-vision-ss18-kinship/#slide1") 1. Cover
      li: a(href="/the-vision-ss18-kinship/#slide2") 2. Context
      li: a(href="/the-vision-ss18-kinship/#slide3") 3. Key Takeaways
      li: a(href="/the-vision-ss18-kinship/#slide4") 4. Quote
      li: a(href="/the-vision-ss18-kinship/#slide5") 5. The New Silk Road
      li: a(href="/the-vision-ss18-kinship/#slide6") 6. New Masculinity
      li: a(href="/the-vision-ss18-kinship/#slide7") 7. Face of Nations
      li: a(href="/the-vision-ss18-kinship/#slide8") 8. Good Sports
      li: a(href="/the-vision-ss18-kinship/#slide9") 9. Companionship Culture
      li: a(href="/the-vision-ss18-kinship/#slide10") 10. Shared Lands
      li: a(href="/the-vision-ss18-kinship/#slide11") 11. Art Across Borders
      li: a(href="/the-vision-ss18-kinship/#slide12") 12. Once Upon... Design &amp; Data
      li: a(href="/the-vision-ss18-kinship/#slide13") 13. Modern Mariner
      li: a(href="/the-vision-ss18-kinship/#slide14") 14. Treasured Intricacy
      li: a(href="/the-vision-ss18-kinship/#slide15") 15. Distrupted Craft
      li: a(href="/the-vision-ss18-kinship/#slide16") 16. Mass Influencers
      li: a(href="/the-vision-ss18-kinship/#slide17") 17. Thought Starters
      li: a(href="/the-vision-ss18-kinship/#slide18") 18. Research &amp; References
      li: a(href="/the-vision-ss18-kinship/#slide19") 19. Related Reports
      li: a(href="/the-vision-ss18-kinship/#slide20") 20. The Vision Videos
      li: a(href="/the-vision-ss18-kinship/#slide21") 21. Index
      li: a(href="/the-vision-ss18-kinship/#slide22") 22. Seasonal Drops