#related-reports.context-menu
  .context-menu-header
    h3.text-uppercase.tight Related Reports

  .context-menu-content
    ul.ul-bare
      li
        small The Message
        span States of Mind
      li
        small The Vision
        span Slow Futures
      li.active 
        small The Vision
        span Kinship
      li 
        small The Vision
        span Psychotropical
      li 
        small The Vision
        span Youth Tonic