.context-menu-overlay
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: rgba(black, 0.6)
  opacity: 0
  pointer-events: none
  z-index: 30

  &.show
    opacity: 1
    pointer-events: all

.context-menu
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  @extend .bg-white
  @extend .transition
  transform: translate(0, 100%)
  z-index: 100
  box-shadow: 0 -3px 10px rgba(black, 0)

  &.show
    transform: translate(0, 0) !important
    box-shadow: 0 -1px 15px rgba(black, 0.1)

  .context-menu-header
    @extend .border-bottom
    @extend .block-sm
    @extend .bg-xlt-grey

  .context-menu-content
    ul
      @extend .tight
      // max-height: calc(100vh - #{$report-header-height} - #{$report-page-title-height} - 41px)
      max-height: 420px
      overflow: auto
      
      li
        @extend .block-sm
        @extend .tight
        @extend .border-bottom
        @extend .bg-white

        .icon
          margin-right: 10px

        small
          display: block
          line-height: 1.2em

        &:last-of-type
          border-bottom: none

        &.active
          color: $fashion
          @extend .text-bold

          a
            color: $fashion
            @extend .text-bold          

// #page-list
//   top: $report-header-height + $report-page-title-height
//   bottom: auto
//   transform: translate(0, calc(-100% - #{$report-page-title-height}))
//   z-index: 60