.swiper-container
  width: 100vw
  height: calc(100vh - #{$report-header-height})
  position: absolute
  top: 40px

  .swiper-wrapper
    .swiper-slide
      overflow-y: scroll

      &.cover
        @extend .flex-center
        @extend .bg-lt-grey

      &:not(.cover)
        padding: 50px 0 0
      
      h1, h2, h3, h4, p
        width: 100%
        padding: 0 20px

      img, video
        width: 100%
        margin: 0 0 10px

      video
        @extend .border-top
        @extend .border-bottom

      .caption
        @extend .text-smaller
        @extend .text-grey

      img + .caption
        margin-top: -10px

      .report-logo
        height: 16px
        width: auto
        margin: 0 auto 10px

  .swiper-button-prev,
  .swiper-button-next
    position: fixed
    top: auto
    bottom: 0
    width: 40px
    height: 40px
    margin: 0
    opacity: 0
    z-index: 80

    &.show
      opacity: 0.85

  .swiper-button-prev
    left: 0

  .swiper-button-next
    right: 0

.swiper-pagination
  .swiper-pagination-bullet
    width: auto
    height: auto
    border-radius: 0
    opacity: 1
    display: none
    @extend .wgsn-font
    font-size: 10px
    margin-top: 3px

  .swiper-pagination-bullet-active
    display: block
    background: none