#info.context-menu
  .context-menu-header
    h3.text-uppercase.tight Information

  .context-menu-content
    ul.ul-bare
      li
        .row
          .col-xs-3: p.text-bold.text-tight Title:
          .col-xs-9: p.text-tight WGSN Whereabouts: Governors Ball 2016

        .row
          .col-xs-3: p.text-bold.text-tight Author:
          .col-xs-9: p.text-tight Jaime Cohn-Barr, the WGSN Video Team

        .row
          .col-xs-3: p.text-bold.text-tight Date:
          .col-xs-9: p.text-tight 09.06.16
        
        .row
          .col-xs-3: p.text-bold.text-tight Type:
          .col-xs-9: p.text-tight Fashion Office

        .row
          .col-xs-3: p.text-bold.text-tight Category:
          .col-xs-9: p.text-tight Street Style &gt; Festivals &amp; Events &gt; Music Festivals 