#language.context-menu
  .context-menu-header
    h3.text-uppercase.tight Language

  .context-menu-content
    ul.ul-bare
      li.active English
      li Español
      li Português
      li 中文
      li 日本語
      li 한국어