#page-list.context-menu
  .context-menu-header
    h3.text-uppercase.tight Page List

  .context-menu-content
    ul.ul-bare
      li.active: a(href="/wgsn-whereabouts-governors-ball-2016/#slide1") 1. Cover