#related-reports.context-menu
  .context-menu-header
    h3.text-uppercase.tight Related Reports

  .context-menu-content
    ul.ul-bare
      li.active: a(href="/wgsn-whereabouts-governors-ball-2016") WGSN Whereabouts
      li
        a(href="/governors-ball-2016-young-women-apparel")
          small Young Women
          span Apparel
      li 
        small Young Women &amp; Young Men
        span Denim
      li 
        small Young Men
        span Apparel
      li 
        small Young Women
        span Footwear &amp; Accessories