video(poster="https://www.wgsn.com/fashionoffice/data//2016/whereabouts/governors_ball_66509/splash_en.jpg" src="https://www.wgsn.com/videos/Reports/2016/Whereabouts/WGSNWheraboutsGOVBALL.mp4")
p Music and art take centre stage at this year's Governors Ball on New York's Randall's Island. Our editors take us inside the festival for a firsthand look at all this coveted event had to offer. 
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/38/96/29/42/original_gov50616_Gov_Ball_MTV.jpg")
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/55/96/29/42/original_gov50616_2016_06_04_WGSN_WOMEN_GOVBALL_133.jpg")
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/27/96/29/42/original_gov50616_Gov_Ball_4.jpg")