extends layout

include partials/mixins/report-tile
//- img, category, title, date

block append vars
  - bodyclass = 'index'

block content
  .content-wrap.block-ver-sm
    .row
      .col-xs-6.col-sm-6.col-md-3: +article-tile("/governors-ball-2016-young-women-apparel", "https://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/66472/thumb.jpg", "Music Festivals", "Governors Ball 2016 – Young Women Apparel", "09.06.16")
      .col-xs-6.col-sm-6.col-md-3: +article-tile("/wgsn-whereabouts-governors-ball-2016", "https://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/66509/thumb.jpg", "Music Festivals", "WGSN Whereabouts: Governors Ball 2016", "09.06.16")
      .col-xs-6.col-sm-6.col-md-3: +article-tile("/the-vision-ss18-kinship", "https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/65701/thumb.jpg", "The Vision", "The Vision S/S 18: Kinship", "13.07.16")
      .col-xs-6.col-sm-6.col-md-3: +article-tile("", "../img/rectangle.jpg", "Colour", "Women's Colour S/S 18: Youth Tonic", "13.07.16")
      .col-xs-6.col-sm-6.col-md-3: +article-tile("", "../img/rectangle.jpg", "Colour", "Women's Colour S/S 18: Youth Tonic", "13.07.16")