.text-container
  h1 Cushnie Et Ochs x Bandier
  p Joining forces with activewear brand Bandier, after both realised they were making clothes for the same woman, Cushnie et Ochs produced a 10-piece collection featuring crop tops, leggings and jogging pants. The all-black pieces highlight Cushnie et Ochs’ sexy aesthetic, featuring items that accentuate the body but also nod to athleticism. The collection is available at Bandier stores and online, with prices ranging between $144 and $215. You can track the duo's Instagram hashtag 
    a(href="https://www.instagram.com/explore/tags/ceoxbandier/") here 
    | to see the styles in action. Bandier’s activewear Instagram movement, which has more than 5,000 posts, can also be viewed 
    a(href="https://www.instagram.com/explore/tags/bandiergirl/") here
    | .
img(src="https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67294/578e60e07bde3aa91987bb07/en_c_11886043b2b_original__BANDIERFIT.jpg")
img(src="https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67294/578e60e07bde3aa91987bb07/en_c_c64ba55d59_original__CUSHNIEETO.jpg")
img(src="https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67294/578e60e07bde3aa91987bb07/en_c_693fb394cf_original_CUSHNIE_ET_.jpg")
img(src="https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67294/578e60e07bde3aa91987bb07/en_c_3888f31f69_original_BANDIER_VIA.jpg")
img(src="https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67294/578e60e07bde3aa91987bb07/en_c_c636770e85_original__CUSHNIEETO.jpg")
img(src="https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67294/578e60e07bde3aa91987bb07/en_c_c862438f72_original_cushnie_et_.jpg")

.text-center: img.report-logo(src="https://www.wgsn.com/wp-content/themes/stylesight/library/images/redesign/logos/logo-home_page-gray.png")