.text-container
  h1 Overview
  p A collection of fashion-forward brands have entered into design partnerships with activewear companies. From globally recognised organisations such as Nike to lesser known lifestyle brands such as Britain's Bodyism, these partnerships, together, attempt to marry the worlds of fashion and sport once and for all.
  p According to 
    a(href="http://qz.com/523948/you-know-whats-a-great-investment-opportunity-activewear-says-morgan-stanley/") Quartz
    | , Morgan Stanley has projected the activewear industry will reach an astounding figure of $83 billion in sales by 2020. This can likely be attributed to 
    a(href="https://www.wgsn.com/content/board_viewer/#/65493/page/2") consumer interest
    |  in wearing this type of apparel beyond simply working out. Evolving from the last 12 years of designer-to-designer and designer-to-high-street collaborations that we've seen, the following 10 active collaboration campaigns illustrate some of the best partnerships to date with a spotlight focus on the wellness category.
img(src="https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67294/578e60ca7ede3a106287bb06/en_c_1335de1c291_1469541492_Jason_Wu_.jpg")
p.caption Jason Wu x Fila
img(src="https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67294/578e60ca7ede3a106287bb06/en_c_10e075e1194_original_cushnie_et_.png")
p.caption Cushnie Et Ochs x Bandier
img(src="https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67294/578e60ca7ede3a106287bb06/en_c_4e3c8c98d9_original_wwd_5.jpg")
p.caption Charlotte Olympia x Bodyism
img(src="https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67294/578e60ca7ede3a106287bb06/en_c_9ba21d7b4a_original_APC_x_Outdo.jpg")
p.caption A.P.C. x Outdoor Voices

.text-center: img.report-logo(src="https://www.wgsn.com/wp-content/themes/stylesight/library/images/redesign/logos/logo-home_page-gray.png")