#context-menu.context-menu
  .context-menu-header
    h3.text-uppercase.tight Report options

  .context-menu-content
    ul.ul-bare
      li.btn-info
        i.icon.icon-info-circle
        span Information
      li.btn-related-reports
        i.icon.icon-related-reports
        span Related reports
      li.btn-page-list
        i.icon.icon-list
        span Page list
      li.btn-save-to-workspace
        i.icon.icon-save
        span Save to Workspace
      li 
        i.icon.icon-download
        span Download
      //- li 
      //-   i.icon.icon-print
      //-   span Print
      li.btn-language
        i.icon.icon-lang-en
        span Language