#save-to-workspace.context-menu
  .context-menu-header
    h3.text-uppercase.tight Save to Workspace

  .context-menu-content
    ul.ul-bare
      li
        h4.tight My Folders
        .row
          .col-xs-12.block-ver-sm
            i.icon.icon-caret-right
            i.icon.icon-folder-filled.text-grey
            span Autumn/Winter 2016
        .row
          .col-xs-12.block-ver-sm
            i.spacer
            i.icon.icon-folder-filled.text-grey
            span Spring Dresses
        .row
          .col-xs-12.block-ver-sm
            i.spacer
            i.icon.icon-folder-filled.text-grey
            span Inspiration Images
        .row
          .col-xs-12.block-ver-sm
            i.icon.icon-caret-right
            i.icon.icon-folder-filled.text-grey
            span Reports to Read
        .row
          .col-xs-12.block-ver-sm
            i.spacer
            i.icon.icon-folder-filled.text-grey
            span Catwalks S/S16
        .row
          .col-xs-12.block-ver-sm
            i.icon.icon-caret-right
            i.icon.icon-folder-filled.text-grey
            span Footwear A/W17
        .row
          .col-xs-12.block-ver-sm
            i.spacer
            i.icon.icon-folder-filled.text-grey
            span Places to Visit in Paris
        .row
          .col-xs-12.block-ver-sm
            i.icon.icon-caret-right
            i.icon.icon-folder-filled.text-grey
            span Retail in NY

      li
        h4.tight Shared Folders
        .row
          .col-xs-12.block-ver-sm
            i.icon.icon-caret-right
            i.icon.icon-folder-filled.text-grey
            span Autumn/Winter 2016
        .row
          .col-xs-12.block-ver-sm
            i.spacer
            i.icon.icon-folder-filled.text-grey
            span Spring Dresses
        .row
          .col-xs-12.block-ver-sm
            i.spacer
            i.icon.icon-folder-filled.text-grey
            span Inspiration Images
        .row
          .col-xs-12.block-ver-sm
            i.icon.icon-caret-right
            i.icon.icon-folder-filled.text-grey
            span Reports to Read
        .row
          .col-xs-12.block-ver-sm
            i.spacer
            i.icon.icon-folder-filled.text-grey
            span Catwalks S/S16
        .row
          .col-xs-12.block-ver-sm
            i.icon.icon-caret-right
            i.icon.icon-folder-filled.text-grey
            span Footwear A/W17
        .row
          .col-xs-12.block-ver-sm
            i.spacer
            i.icon.icon-folder-filled.text-grey
            span Places to Visit in Paris
        .row
          .col-xs-12.block-ver-sm
            i.icon.icon-caret-right
            i.icon.icon-folder-filled.text-grey
            span Retail in NY