//- JQUERY
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')

//- SWIPER
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js")

script.
  $(document).ready(function () {
    //initialize swiper when document ready  
    var mySwiper = new Swiper ('.swiper-container', {
      // Optional parameters
      direction: 'horizontal',
      pagination: '.swiper-pagination',
      pageNames: ["Cover", "Boho Mood", "Edgy Western", "Woodstock Hippy", "Mesh Exposure", "Twinsets", "Vintage Music Tees", "Bomber Jackets"],
      paginationBulletRender: function (index, className, pageNames) {
        return '<span class="' + className + '">' + (index + 1) + ". " + this.pageNames[index] + '</span>';
        console.log(index)
      },
      spaceBetween: 10,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      hashnav: true
    })        
  });

script.
  //- show/hide report page title bar
  $('.swiper-container').click(function(e, evt) {
    if ($('#context-menu, #page-list, #related-reports').hasClass('show')) {
      $('#context-menu, #page-list, #related-reports').removeClass('show')
    }

    if (!$(e.target).is('.swiper-button-next') && !$(e.target).is('.swiper-button-prev')) {
      $('.btn-page-title, .swiper-button-prev, .swiper-button-next').toggleClass('show');
    }
  })


  // ====================
  // Context Menus
  // ====================

  //- report context menu
  $('.btn-context-menu').on('click', function() {
    $('#page-list, #related-reports').removeClass('show');
    $('.context-menu-overlay').toggleClass('show');
    $('#context-menu').toggleClass('show');
  })

  //- report page list
  $('.btn-page-title').on('click', function() {
    $('#context-menu, #related-reports').removeClass('show');
    $('.context-menu-overlay').toggleClass('show');
    $('#page-list').toggleClass('show');
  })

  //- report page list
  $('.btn-related-reports').on('click', function() {
    $('#context-menu, #page-list').removeClass('show');
    $('.context-menu-overlay').toggleClass('show');
    $('#related-reports').toggleClass('show');
  })

  //- close context menu
  $('.context-menu-overlay').on('click', function() {
    $(this).removeClass('show');
    $('.context-menu').removeClass('show');
  })