//- JQUERY
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')

//- SWIPER
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js")

script.
  $(document).ready(function () {
    var mySwiper = new Swiper ('.swiper-container', {
      direction: 'horizontal',
      pagination: '.swiper-pagination',
      pageNames: ["Cover", "Boho Mood", "Edgy Western", "Woodstock Hippy", "Mesh Exposure", "Twinsets", "Vintage Music Tees", "Bomber Jackets"],
      paginationBulletRender: function (index, className, pageNames) {
        return '<span class="' + className + '">' + (index + 1) + ". " + this.pageNames[index] + '</span>';
        console.log(index)
      },
      spaceBetween: 10,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      hashnav: true
    })        
  });

script.
  //- show/hide report page title bar
  $('.swiper-wrapper').click(function(e, evt) {
    if ($('#context-menu, #page-list, #related-reports').hasClass('show')) {
      $('#context-menu, #page-list, #related-reports').removeClass('show')
    }

    $('.btn-page-list, .swiper-button-prev, .swiper-button-next').toggleClass('show');

    //- if (!$(e.target).is('.swiper-button-next') && !$(e.target).is('.swiper-button-prev')) {
    //-   $('.btn-page-title, .swiper-button-prev, .swiper-button-next').toggleClass('show');
    //- }
  })


  // ====================
  // Context Menus
  // ====================

  //- report context menu
  $('.btn-context-menu').on('click', function() {
    $('#page-list, #related-reports, #info, #language, #save-to-workspace').removeClass('show');

    if($('#context-menu').hasClass('show')) {
      $('.context-menu-overlay, #context-menu').removeClass('show');
    } else {
      $('.context-menu-overlay, #context-menu').addClass('show');
    }
  })

  //- report page list
  $('.btn-page-list').on('click', function() {
    $('#context-menu, #related-reports, #info, #language, #save-to-workspace').removeClass('show');

    if($('#page-list').hasClass('show')) {
      $('.context-menu-overlay, #page-list').removeClass('show');
    } else {
      $('.context-menu-overlay, #page-list').addClass('show');
    }
  })

  //- report page list
  $('.btn-related-reports').on('click', function() {
    $('#context-menu, #page-list, #info, #language, #save-to-workspace').removeClass('show');

    if($('#related-reports').hasClass('show')) {
      $('.context-menu-overlay, #related-reports').removeClass('show');
    } else {
      $('.context-menu-overlay, #related-reports').addClass('show');
    }
  })

  //- report info
  $('.btn-info').on('click', function() {
    $('#context-menu, #page-list, #related-reports, #language, #save-to-workspace').removeClass('show');

    if($('#info').hasClass('show')) {
      $('.context-menu-overlay, #info').removeClass('show');
    } else {
      $('.context-menu-overlay, #info').addClass('show');
    }
  })

  //- report language
  $('.btn-language').on('click', function() {
    $('#context-menu, #page-list, #related-reports, #info, #save-to-workspace').removeClass('show');

    if($('#language').hasClass('show')) {
      $('.context-menu-overlay, #language').removeClass('show');
    } else {
      $('.context-menu-overlay, #language').addClass('show');
    }
  })

  //- save to workspace
  $('.btn-save-to-workspace').on('click', function() {
    $('#context-menu, #page-list, #related-reports, #info, #language').removeClass('show');

    if($('#save-to-workspace').hasClass('show')) {
      $('.context-menu-overlay, #save-to-workspace').removeClass('show');
    } else {
      $('.context-menu-overlay, #save-to-workspace').addClass('show');
    }
  })

  //- close context menu
  $('.context-menu-overlay').on('click', function() {
    $(this).removeClass('show');
    $('.context-menu').removeClass('show');
  })