//- JQUERY
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')

//- SWIPER
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js")

script.
  $(document).ready(function () {
    //initialize swiper when document ready  
    var mySwiper = new Swiper ('.swiper-container', {
      // Optional parameters
      direction: 'horizontal'
    })        
  });

script.
  //- show/hide report page title bar
  $('.swiper-container').on('click', function() {
    $('.report-page-title').toggleClass('show');
  })

  //- show/hide report context menu
  $('.btn-context-menu').on('click', function() {
    $('.context-menu-overlay').toggleClass('show');
    $('#context-menu').toggleClass('show');
  })

  //- show/hide report page list
  $('.btn-page-title').on('click', function() {
    $('.context-menu-overlay').toggleClass('show');
    $('#page-list').toggleClass('show');
  })

  //- show/hide report page list
  $('.btn-related-reports').on('click', function() {
    $('.context-menu-overlay').toggleClass('show');
    $('#related-reports').toggleClass('show');
  })

  //- close context menu
  $('.context-menu-overlay').on('click', function() {
    $(this).removeClass('show');
    $('.context-menu').removeClass('show');
  })