extends ../layout

block append vars
  - bodyclass = 'report-view'

block content
  //- REPORT HEADER BAR
  .report-header.overflow-auto.bg-white.border-bottom
    .btn-related-reports.pull-left.flex-center: i.icon.icon-related-reports
    h3.pull-left.block-ver-sm.text-uppercase Governors Ball 2016 – Young Women Apparel
    .btn-context-menu.pull-right.flex-center: i.icon.icon-ellipsis

  //- REPORT PAGE TITLE BAR
  .btn-page-list.show.block-hor-sm.block-ver-xs.bg-black.overflow-auto.transition
    .swiper-pagination
    i.icon.icon-list.pull-right

  //- SWIPER
  .swiper-container#report-governors-ball-2016-young-women-apparel
    .swiper-wrapper
      .swiper-slide.cover.flex-center.bg-lt-grey(data-hash="slide1"): include slide-1
      .swiper-slide(data-hash="slide2"): include slide-2
      .swiper-slide(data-hash="slide3"): include slide-3
      .swiper-slide(data-hash="slide4"): include slide-4
      .swiper-slide(data-hash="slide5"): include slide-5
      .swiper-slide(data-hash="slide6"): include slide-6
      .swiper-slide(data-hash="slide7"): include slide-7
      .swiper-slide(data-hash="slide8"): include slide-8

    .swiper-button-prev.flex-center.bg-white.transition.show: i.icon.icon-angle-left
    .swiper-button-next.flex-center.bg-white.transition.show: i.icon.icon-angle-right

  .context-menu-overlay.transition
  include context-menu
  include page-list
  include related-reports
  include info
  include language