#page-list.context-menu
  .context-menu-header
    h3.text-uppercase.tight Page List

  .context-menu-content
    ul.ul-bare
      li: a(href="/governors-ball-2016-young-women-apparel/#slide1") 1. Cover
      li: a(href="/governors-ball-2016-young-women-apparel/#slide2") 2. Boho Mood
      li: a(href="/governors-ball-2016-young-women-apparel/#slide3") 3. Edgy Western
      li.active: a(href="/governors-ball-2016-young-women-apparel/#slide4") 4. Woodstock Hippy
      li: a(href="/governors-ball-2016-young-women-apparel/#slide5") 5. Mesh Exposure
      li: a(href="/governors-ball-2016-young-women-apparel/#slide6") 6. Twinsets
      li: a(href="/governors-ball-2016-young-women-apparel/#slide7") 7. Vintage Music Tees
      li: a(href="/governors-ball-2016-young-women-apparel/#slide8") 8. Bomber Jackets