h1 Mesh Exposure
h3 Styling
p Mesh is seen in many different variations at Governor’s Ball, whether it be fine-weave, fishnet, layered or revealing. It is used to give edge to outfits and coincides with the goth athleisure trend. It can also balance out a sexy outfit, giving just the right amount of coverage. 
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/56/62/29/42/original_gov20616_2016_06_03_WGSN_WOMEN_GOVBALL_23.jpg")
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/18/24/29/42/original_gov40616_2016_06_04_WGSN_WOMEN_GOVBALL_150.jpg")
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/32/34/29/42/original_gov40616_2016_06_04_WGSN_WOMEN_GOVBALL_31.jpg")
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/59/24/29/42/original_gov40616_2016_06_04_WGSN_WOMEN_GOVBALL_163.jpg")

.text-center: img.report-logo(src="https://www.wgsn.com/wp-content/themes/stylesight/library/images/redesign/logos/logo-home_page-gray.png")