h1 Boho Mood
h3 Theme
p Coachella continues to define festivalwear worldwide. Although there is no desert in NYC, girls still brought out the fringed capes, boho prints and loose layering so prevalent in California. The goal is also to be comfortable and wear clothes with movement that let the wearer rock out to their favourite band, come rain or shine. 
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/18/24/29/42/original_gov40616_2016_06_04_WGSN_WOMEN_GOVBALL_150.jpg")
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/32/34/29/42/original_gov40616_2016_06_04_WGSN_WOMEN_GOVBALL_31.jpg")
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/56/62/29/42/original_gov20616_2016_06_03_WGSN_WOMEN_GOVBALL_23.jpg")
img(src="https://www.wgsn.com/storage/./vol20/ss_image_store/59/24/29/42/original_gov40616_2016_06_04_WGSN_WOMEN_GOVBALL_163.jpg")